/* shared styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.open-san {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
.logo h2{
  font-size: 45px;
}
#dey{
  color: #FD6E0A;
  font-weight: 900;

}
.menu{
  display: flex;
  list-style-type: none;
  gap: 51px;
  align-items: center;
}
nav .menu a{
  font-size: 20px;
  color: #474747;
  text-decoration: none;
  align-items: center;
}

/* main styles  */
header {
  background-color: #fff8f3;
  padding-top: 50px;
}
nav {
  width: 76.6%;
  max-width: 1140;
  /* border: 1px solid  red; */
  margin: 0 auto;
  display:flex;
  justify-content: space-between;
}
.btn{
  background-color: #FD6E0A;
  border: none;
  padding: 18px 35px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 7px;
  color: #fff8f3;
}